body {
    background-color:navajowhite;
}

.CaixaPagina {
    font-family: 'Akzidenz Grotesk BoldCn';
    font-size:25px;
}

.CaixaTexto {
    font-family: 'Akzidenz Grotesk BoldCn';
    font-size: 20px;
}

.Botao {     
}
